<div id="<%= dom_id todo %>">
  <p class="my-5">
    <strong class="block font-medium mb-1">Title:</strong>
    <%= todo.title %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Completed:</strong>
      <span class="<%= todo.completed? ? "text-green-600" : "text-red-600" %>">
        <%= todo.completed === "completed" ? "Completed" : "Not Complete"%>
      </span>
  </p>

</div>
