<!-- Notice Message -->
<% if notice %>
  <p class="notice-message">
    <%= notice %>
  </p>
<% end %>

<!-- Page Title -->
<% content_for :title, "Todos" %>
<h1 class="page-title">Todos</h1>

<!-- Todos List Container -->
<div id="todos" class="todos-container">
  <% @todos.each do |todo| %>
    <div class="todo-card">
      <%= render todo %>
      <p class="todo-link">
        <%= link_to "Show this todo", todo, class: "show-todo" %>
      </p>
    </div>
  <% end %>
</div>

<!-- New Todo Button -->
<div class="new-todo-button">
  <%= link_to "New Todo", new_todo_path, class: "new-todo-link" %>
</div>
